extends ../../template/services

block body
  .container
    .we-doing
      .we-doing-items
        .we-doing__item.item_black
            .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
            +button({
              mods: ['red','m-top'],
              text: 'Отправить заявку'
            })
        .we-doing__item.item_gray
            a(href="#") 
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
            })
            span.red-line
            .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
        .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
            })
            span.red-line
            .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
        .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
        .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
        .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
        .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
        .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
        .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
        .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
        .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.

