extends ../../template/services

block body
  main
    +banner({
        link: '../img/banner-4.png',
        items: [{
          addClass: 'banner-services',
          bannerClass: ''
        }]
      })
        +breadcrumbs
        +title({
        mods: ['banner'],
        text: 'Франшиза для отеля или гостиницы'
        })
        .desc За 10 лет мы накопили большой опыт в управлении бизнесом который поможет добиться успеха вашему бизнесу
        +button({
          mods: ['red'],
          text: ['Отправить заявку']
        })
    .container
      .we-doing
        .we-doing-items
          .we-doing__item.item_gray
              a(href="#") 
                .we-doing__number
                +title({
                  mods: ['item'],
                  text: 'Контроль проектов'
              })
              span.gray-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
              a(href="#")
                .we-doing__number
                +title({
                  mods: ['item'],
                  text: 'Контроль проектов'
              })
              span.gray-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
              a(href="#")
                .we-doing__number
                +title({
                  mods: ['item'],
                  text: 'Контроль проектов'
                })
                span.gray-line
                .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
              a(href="#")
                .we-doing__number
                +title({
                  mods: ['item'],
                  text: 'Контроль проектов'
                })
                span.gray-line
                .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
              a(href="#")
                .we-doing__number
                +title({
                  mods: ['item'],
                  text: 'Контроль проектов'
                })
                span.gray-line
                .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_black
            .text Мы готовы лично отвечать за ваш объект, контролировать все этапы проектирования и строительства, участвовать в отборе поставщиков
            +button({
              mods: ['red','m-top'],
              text: 'Отправить заявку'
            })

      .we-doing
        .we-doing__item.item_black.flex-wrapper
              .text Позвоните нам, и мы обсудим перспективы сотрудничества
              +button({
                mods: ['red'],
                text: 'Отправить заявку'
              })
      +title({
        text: 'Зачем нужно управление гостиницами?',
      })
      .text.text_dark-gray
        p Мы сотрудничаем с ведущими международными брендами: Hilton, Tulip, Mario и другими. Руководители этих франшиз выпустили на рынок инновационные решения, которые со временем стали международными стандартами качества.
        p Мы готовы помочь вам заключить договор с франчайзером и стать сетевым отелем. От вас – только запрос на бренд. Все остальное мы сделаем сами.
        .container
      .hotels
        .hotels__item.active
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title ГК Корпоративного университета Сбербанка
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее

        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title Блок 2
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее

        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title Блок 3
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее

        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title Блок 4
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее

        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title Блок 5
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее
  .callback-form
    .container
      +callback({
        title: 'Отправить заявку',
        policy: 'Нажимая на кнопку “Отправить” вы соглашаетесь на обработку персональных данных',
        wraps: [{
          mods: ['small'],
          inputs: [{
            placeholder: 'Ваше имя',
            tag: 'input',
            type: 'text'
          },{
            placeholder: 'Ваш e-mail',
            tag: 'input',
            type: 'email'
          },{
            placeholder: 'Ваш телефон',
            tag: 'input',
            type: 'tel'
          }]
        },{
          inputs: [{
            placeholder: '123',
            tag: 'select',
            selects: [{
              text: 'Номер 1',
            },{
              text: 'Номер 1',
            },{
              text: 'Номер 1',
            },{
              text: 'Номер 1',
            }]         
          },{
            mods: ['big'],
            placeholder: 'Опишите ваши пожелания',
            tag: 'textarea'
          }]
        }]
      })
