mixin breadcrumbs
  .breadcrumbs
    .breadcrumbs-inner
      a.breadcrumbs-item(href="#") Главная
      a.breadcrumbs-item(href="#") Услуги
      a.breadcrumbs-item.active(href="#") Управление гостиничным бизнесом
  
