.title {
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
  color: $black;
  display: inline-block;
  &_redline{
    border-bottom: 1px solid $red;
    margin-bottom: 16px;
  }
  &_page {
    margin-bottom: 25px;
  }
  &_center {
    text-align: center;
    display: block;
    margin: 30px 0 0;
  }
  &_banner{
    font-size: 40px;
    margin: 30px 0;
    max-width: 700px;
  }
  &_item {
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
  }
  &_callback {
    margin-bottom: 20px;
  }
  &_articles {
    font-size: 18px;
    color: #000000;
    border-radius: 4px;
    line-height: 20px;
    padding: 15px 0;
  }
  &_subscribe {
    padding-bottom: 20px;
    padding-top:20px;
    display: block;
  }
  & p {
    margin: 0;
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer {
  position: relative;
  background-color: #F6F6F6;
    &-center {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
}