$black: #000;
$red: #ED1C24;
$gray: #9C9C9C;
$middle-gray: #DADADA;
$light-gray: #F8F8F8;
$white: #fff;
$transition: .3s ease;
$shadow: 0px 10px 8px rgba(0, 0, 0, 0.054);


// Font
$main-font: 'Circe'; 
