.subscribe {
  background-repeat: no-repeat;
  background-color: #000;
  background-position: right;
  min-height: 186px;
}

.subscribe_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}