.subscribe {
  background-repeat: no-repeat;
  background-color: #000;
  background-position: right;
  min-height: 262px;
  background-size: cover;
  position: relative;
}

.subscribe_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.input-form_subscribe {
  margin-bottom: 20px;
}