extends ../../template/company 

block body
  main
    +banner({
      link: '../img/banner.png',
      items: [{
        addClass: 'banner-services',
        bannerClass: ''
      }]
    })
      +breadcrumbs
      +title({
      mods: ['banner'],
      text: 'IFK Hotel Management – ваш партнер в гостиничном бизнесе'
      })
      .desc Наша задача – выстроить комплексную работу вашей гостиницы, повысить ее прибыльность в условиях конкурентной среды.
    section.segment
      .container
        +title({
          text: 'История бренда'
        })
        .history
          .history-block-top
            .history-block-top__item
              +icon({
                icon: 'history'
              })
              .history__text В штате мы собрали профильных специалистов, которые могут подключиться к работе на любом этапе        
            .history-block-top__item
              +icon({
                icon: 'history-2'     
              })
              .history__text Наши эксперты имеют опыт работы в ведущих международных и отечественных компаниях
          .history-block-center
            .history-block-center__line
          .history-block-bottom
            .history-block-bottom__item
              +icon({
                icon: 'history-3'
                })
              .history__text Управляющая компания IFK Hotel Management основана в 2008 году
            .history-block-bottom__item
              +icon({
                icon: 'history-4'
                })
              .history__text От проекта гостиницы до управления готовым объектом
            .history-block-bottom__item
              +icon({
                icon: 'history-5'
                })
              .history__text У нас есть навыки развития бизнеса с учетом региональной специфики  
    +mission({
      title: 'Наша миссия',
      text: 'Используя наши ресурсы и знания, увеличивать ценность инвестиций наших партнеров, предоставляя им качественные услуги по управлению гостиницами. Мы ценим и уважаем индивидуальные различия и уникальность. Мы объединяем людей, связанных с индустрией гостеприимства. На основе взаимного доверия и открытости выстраиваем долгосрочные взаимоотношения, способствующие наилучшей реализации потенциала гостиничных объектов в нашем управлении.'
    })
    
    .values
      .container
        +title({
          text: 'Наши ценности'
        })
        .values__items
          .values__item
            +title({
              mods: ['articles'],
              text: 'Приверженность партнерству'
            })
            ul
              li Мы нацелены на поддержание долгосрочных отношений.
              li Мы стремимся к общим целям и интеграции.
              li Мы ценим доверие.
              li Мы гарантируем надежность, оперативность, компетентность, ответственность, понимание индивидуальных ожиданий и ценностей
          .values__item
            +title({
              mods: ['articles'],
              text: 'Приверженность партнерству'
            })
            ul
              li Мы нацелены на поддержание долгосрочных отношений.
              li Мы стремимся к общим целям и интеграции.
              li Мы ценим доверие.
              li Мы гарантируем надежность, оперативность, компетентность, ответственность, понимание индивидуальных ожиданий и ценностей
          .values__item
            +title({
              mods: ['articles'],
              text: 'Приверженность партнерству'
            })
            ul
              li Мы нацелены на поддержание долгосрочных отношений.
              li Мы стремимся к общим целям и интеграции.
              li Мы ценим доверие.
              li Мы гарантируем надежность, оперативность, компетентность, ответственность, понимание индивидуальных ожиданий и ценностей
    .team
      .container
        +title({
          text: 'Команда'
        })
      .team-item 
        .team-item__container 
          .team-item__left
            img(src="../img/team-member.png", alt="")
          .team-item__right 
            +title({
              mods: ['articles'],
              text: 'Иван Иванов'
            })
              .desc.text-black Генеральный директор
            .text Используя наши ресурсы и знания, увеличивать ценность инвестиций наших партнеров, предоставляя им качественные услуги по управлению гостиницами. Мы ценим и уважаем индивидуальные различия и уникальность. Мы объединяем людей, связанных с индустрией гостеприимства. На основе взаимного доверия и открытости выстраиваем долгосрочные взаимоотношения, способствующие наилучшей реализации потенциала гостиничных объектов в нашем управлении.
      .team-item 
        .team-item__container 
          .team-item__left
            img(src="../img/team-member-2.png", alt="")
          .team-item__right 
            +title({
              mods: ['articles'],
              text: 'Александра Иванова'
            })
              .desc.text-black Генеральный директор
            .text Используя наши ресурсы и знания, увеличивать ценность инвестиций наших партнеров, предоставляя им качественные услуги по управлению гостиницами. Мы ценим и уважаем индивидуальные различия и уникальность. Мы объединяем людей, связанных с индустрией гостеприимства. На основе взаимного доверия и открытости выстраиваем долгосрочные взаимоотношения, способствующие наилучшей реализации потенциала гостиничных объектов в нашем управлении.
      .team-item
        .team-item__container 
          .team-item__left
            img(src="../img/team-member.png", alt="")
          .team-item__right 
            +title({
              mods: ['articles'],
              text: 'Иван Иванов'
            })
              .desc.text-black Генеральный директор
            .text Используя наши ресурсы и знания, увеличивать ценность инвестиций наших партнеров, предоставляя им качественные услуги по управлению гостиницами. Мы ценим и уважаем индивидуальные различия и уникальность. Мы объединяем людей, связанных с индустрией гостеприимства. На основе взаимного доверия и открытости выстраиваем долгосрочные взаимоотношения, способствующие наилучшей реализации потенциала гостиничных объектов в нашем управлении.
  section.segment
    .container
      +title({
        text: 'Почему мы?',
        mods: ['page']
      })
      .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc ege
  .container
    +title({
    text: 'Наши проекты'
  })
    .hotels
      .hotels__item.active
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title ГК Корпоративного университета Сбербанка
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 2
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 3
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 4
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 5
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее
  .callback-form
    .container
      +callback({
        title: 'Отправить заявку',
        policy: 'Нажимая на кнопку “Отправить” вы соглашаетесь на обработку персональных данных',
        wraps: [{
          mods: ['small'],
          inputs: [{
            placeholder: 'Ваше имя',
            tag: 'input',
            type: 'text'
          },{
            placeholder: 'Ваш e-mail',
            tag: 'input',
            type: 'email'
          },{
            placeholder: 'Ваш телефон',
            tag: 'input',
            type: 'tel'
          }]
        },{
          inputs: [{
            placeholder: '123',
            tag: 'select',
            selects: [{
              text: 'Номер 1',
            },{
              text: 'Номер 1',
            },{
              text: 'Номер 1',
            },{
              text: 'Номер 1',
            }]         
          },{
            mods: ['big'],
            placeholder: 'Опишите ваши пожелания',
            tag: 'textarea'
          }]
        }]
      })