extends ../../template/main-page

block body
  main
    .blog-banner
      .container
        +breadcrumbs
        +title({
                  text: 'Название статьи',
                  addClass: 'title__blog',
                })
        .article-data 13.06.2019
    .container
      .article__wrapper
          p Наша компания готова арендовать ваш отель на срок от 10 лет и больше Мы рассматриваем гостиничные проекты от 100 номеров, расположенные: 
          ul
            li 1
            li 2
            li 3
            li 4
          p Казалось бы, чего проще: разместил объявление, нашел посредников или написал напрямую гостиничному оператору и жди очередь из потенциальных арендаторов. Но не всё так просто.
          blockquote Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. 
          h2 Если вы изначально хотите построить гостиницу
          p Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. Получив положительные прогнозы, необходимо сразу определиться с управляющей компанией и брендом. Заключив с гостиничным оператором договор технического сопровождения, вы обезопасите себя от серьезных ошибок и дополнительных инвестиций в необходимые улучшения или перестройку/переоснащение отеля. Нам часто предлагают рассмотреть уже построенный отель. И ознакомившись с проектом, нам остается только воскликнуть: «Кто ж так строит!»
          .image-box
            img(src='../img/banner.png')
            p  «Кто ж так строит!»
          h2 Если вы изначально хотите построить гостиницу
          p Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. Получив положительные прогнозы, необходимо сразу определиться с управляющей компанией и брендом. Заключив с гостиничным оператором договор технического сопровождения, вы обезопасите себя от серьезных ошибок и дополнительных инвестиций в необходимые улучшения или перестройку/переоснащение отеля. Нам часто предлагают рассмотреть уже построенный отель. И ознакомившись с проектом, нам остается только воскликнуть: «Кто ж так строит!»
          .read-more Читайте также
          h2 Если вы изначально хотите построить гостиницу
          p Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. Получив положительные прогнозы, необходимо сразу определиться с управляющей компанией и брендом. Заключив с гостиничным оператором договор технического сопровождения, вы обезопасите себя от серьезных ошибок и дополнительных инвестиций в необходимые улучшения или перестройку/переоснащение отеля. Нам часто предлагают рассмотреть уже построенный отель. И ознакомившись с проектом, нам остается только воскликнуть: «Кто ж так строит!»
    .slider-read 
    +subscribe({
        background: '../img/subscribe.png',
        items: [{
          mods: ['wrapper']
        }]
      })
        +title({
        mods: ['subscribe'],
        text: 'Подписывайтесь на новости',
        addClass: 'text-white'
        })
        +input({
          items: [{
            mods: ['subscribe'],
            placeholder: 'Ваше имя',
        },
        {
          placeholder: 'Ваш e-mail',
        }]
      })
        +button({
            mods: ['red'],
            text: ['Все отзывы']
          })