@import '../utils/variables';
@import '../utils/fonts';
@import '../utils/reset';
@import '../utils/common';
@import '../utils/clearfix';
@import '../utils/slick-slider';

//Блоки
@import './nav/nav';
@import './button/button';
@import './logo/logo';
@import './callback/callback';
@import './banner/banner';
@import './breadcrumbs/breadcrumbs';
@import './title/title';
@import './input/input';
@import './subscribe/subscribe';
@import './container/container';
@import './mission/mission';

.banner-content {
  max-width: 468px;

  &.banner-services {
    max-width: 768px;
  }
}

main {
  padding-top: 106px;
  max-width: 1920px;
  margin: 0 auto;

  & ul li {
    position: relative;
    list-style-type: none;

    &:before {
      content: '';
      position: absolute;
      width: 15px;
      height: 3px;
      background-color: $red;
      left: -35px;
      top: 10px;
    }
  }
}

.text {
  font-size: 18px;

  &_small {
    font-size: 16px;
  }
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}


.header {
  width: 100%;
  box-shadow: $shadow;
  background: $white;
  position: fixed;
  z-index: 9999;

  &__inner {
    max-width: 1140px;
    width: 100%;
    min-height: 106px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    padding: 0 15px;

    @media screen and (max-width: 992px) {
      justify-content: flex-start;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      max-width: 250px;
    }
  }

  &-swap-lang {
    width: 25px;
    height: 25px;
    cursor: pointer;

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  &-phone {
    font-weight: bold;
    text-decoration: none;
    transition: $transition;
  }

  &-phone:hover {
    color: $red;
    transition: $transition;
  }
}

.desc {
  font-size: 18px;
  font-weight: 300;
  max-width: 700px;
  margin-bottom: 20px;
  color: #626161;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-grey {
  color: #626161;
}

.text_dark-gray {
  color: #464646;
}



.read-more {
  display: flex;
  background: #F6F6F6;
  margin: 40px 0;
  text-decoration: none;

  &__content {
    max-width: 587px;
    margin-left: 30px;

    & .text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    & .title {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-weight: bold;
  }

  &__img {
    max-width: 270px;
    width: 100%;

    @media screen and (max-width: 992px) {
      display: none;
    }

    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.slider-read {
  & .articles__item {
    max-width: 270px;
    width: 100%;
  }
}



.we-doing {
  position: relative;
  margin: 70px -10px;

  &-items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    counter-reset: items;
  }

  &__item {
    flex: 1 1 48%;
    margin: 10px;
    box-sizing: border-box;


    &.item_gray {
      padding: 0px 15px 40px 100px;
      transition: $transition;
      border: 1px solid $light-gray;
      background-color: $light-gray;
      cursor: pointer;
      position: relative;

      @media screen and (max-width: 500px) {
        padding: 35px 15px;
      }

      & a {
        text-decoration: none;
      }

      &:hover {
        transition: $transition;
        background: $white;

        &:before {
          content: '';
          position: absolute;
          border-top: 2px solid $red;
          border-right: 2px solid $red;
          width: 10px;
          height: 10px;
          right: 20px;
          top: 20px;
          transition: $transition;
          transform: rotate(45deg);

        }
      }

      &:nth-of-type(n+11) .we-doing__number::before {
        counter-increment: items;
        content: ''counter(items);
      }
    }

    &.item_black {
      position: relative;
      background: #373737;
      color: $white;
      font-weight: bold;
      font-size: 20px;
      padding: 36px;
      box-sizing: border-box;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      & .text {
        max-width: 472px;
        margin-right: 20px;
      }

      &:before {
        content: '';
        position: absolute;
        background: url(../img/black-back.png);
        width: 201px;
        height: 110px;
        background-repeat: no-repeat;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.red-line {
  border: 1px solid $red;
  display: flex;
  margin: 15px 0;
  transition: $transition;
  &_width{
    max-width: 300px;
  }
}

.gray-line {
  border-bottom: 1px solid #B7B4B4;
  max-width: 200px;
  display: flex;
  margin: 15px 0;
}

.we-doing__number {
  position: relative;
  width: 50px;
  height: 25px;

  &:before {
    counter-increment: items;
    content: "0"counter(items);
    position: absolute;
    left: -70px;
    top: 40px;
    transform: rotate(270deg);
    font-size: 55px;
    color: #DAD9D9;

    @media screen and (max-width: 500px) {
      transform: rotate(0);
      left: 0;
      top: -40px;
    }
  }
}

.thanks-for {
  transform: translate(100%, -100%);
  transition: $transition;
  text-align: center;

  &.active {
    transform: translate(0, -100%);
  }
}

.callback__content {
  transform: translate(0);
  transition: $transition;
  position: relative;

  & svg {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
  }
}

.callback-form {
  position: relative;
  background: #F1F1F1;

  & .callback__close {
    display: none;
  }

  & .callback {
    background: #F1F1F1;
  }

  & .callback__thx {
    background: #F1F1F1;
  }

  & .callback__submit {
    flex: 1 1 23%;
    width: auto;
  }

  & .callback {
    max-width: 100%;
  }

  & .callback__input-wrap {
    flex: 1 1 40%;
  }

  & .callback__input-wrap_small {
    flex: 1 1 270px;
  }
  & .title{
    border-bottom: 1px solid $red;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $black;
  opacity: 0.7;
  cursor: pointer;
}

.articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.error-page {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 704px;
  margin: 0 auto;
  margin-top: 87px;

  & p {
    margin: 0;
  }

  &__top {
    font-size: 60px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    margin-bottom: 56px;
    flex-wrap: wrap;

    & img {
      margin-left: 51px;
    @media screen and (max-width: 768px) {
      width: 320px;
      margin-left: 0;
    }
    }
  }

  &__center {
    margin-bottom: 56px;
    & p:nth-of-type(1) {
      font-size: 45px;
      font-weight: bold;
    }

    & p:nth-of-type(2) {
      font-weight: 500;
      font-size: 24px;
    }
  }

  &__bottom {
    font-size: 24px;

    & a {
      font-weight: bold;
      transition: $transition;
      &:hover {
        color: $red;
        transition: $transition;
      }
    }
  }
}

.segment {
  padding: 70px 0;
  &_sm {
    padding: 50px 0;
  }
  &_bg-gray {
    background: #F1F1F1;
  }
}

.error-wrap {
  position: relative;
}

.error-wrap__small-block img{
  position: absolute;
  right: 0;
  width: 39px;
  height: 39px;
}

.error-wrap__medium-block img{
  position: absolute;
  width: 39px;
  height: 39px;
}

.error-wrap__large-block img{
  position: absolute;
  width: 39px;
  height: 39px;
}

.articles {
  position: relative;
  margin: 0 -10px;

  &__item {
    flex: 0 1 23%;
    box-sizing: border-box;
    margin: 10px;
    text-decoration: none;
    border: 1px solid #DADADA;
    transition: $transition;
    border-radius: 10px;
    overflow: hidden;
    min-width: 257px;

    &:hover {
      background: #F1F1F1;
      transition: $transition;
    }

    & .articles-text {
      max-height: 115px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }

  &__image {
    width: 100%;
    height: 185px;
    background-size: cover;
    background-position: center;
  }

  &__data {
    font-size: 14px;
    line-height: 21px;
    color: #797979;
    border-radius: 4px;
  }

  &__content-wrapper {
    padding: 15px 30px;
  }
}

.footer {
  position: relative;
  padding: 0 0 15px 0;

  &-wrapper {
    padding: 50px 0;
  }

  &__hidden {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    display: none;
    justify-content: center;
  }
}

.social {
  display: flex;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.soc-link {
  width: 20px;
  height: 20px;
}

.social a {
  border: 1px solid #000;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: $transition;
  margin-bottom: 20px;

  &:hover {
    transition: $transition;
    background: #000;

    & svg {
      fill: #fff;
    }
  }
}

.button-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background: $white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
  transition: $transition;
  top: 60%;
  left: 20px;
  z-index: 9999;  

  &:hover {
    background: $red;
    transition: $transition;

    &:before {
      border-color: $white;
      transition: $transition;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid $red;
    border-right: 2px solid $red;
    transform: rotate(-45deg);
    top: 13px;
  }
}

.search {
  position: relative;
  margin: 20px 0;
  overflow: hidden;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 77px;
  &:before {
    content: '';
    background-image: url('../img/search-lupe.svg');
    position: absolute;
    top: 10px;
    left: 44%;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
  }
}

.input-search {
  max-width: 100%;
  width: 100%;
  margin-right: 0;
  background-color: $light-gray;
  // transform: translateX(100%);
  transition: $transition;

  &.active {
    transform: translateX(0);
    transition: $transition;
  }
}



.footer-copyright {
  color: #BABABA;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 500px) {}
}

.footer-center {
  display: flex;
  flex-wrap: wrap;
  margin: 0 70px;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  justify-content: flex-end;
  @media screen and (max-width: 500px){
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__item {
    text-decoration: none;
    margin: 10px;
    transition: $transition;

    &:hover {
      color: $red;
      transition: $transition;
    }

  }
}

.link-copyright {
  margin: 10px;
}

.container-banner {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 22%, rgba(229, 229, 229, 1) 86%);
  min-height: 150px;
  padding-top: 50px;
}

.article-data {
  font-size: 14px;
  color: #797979;
  text-align: center;
}

.article__wrapper,
.services__wrapper {
  font-size: 18px;
  color: #464646;

  & h2 {
    font-size: 20px;
    line-height: 29px;
    color: #464646;
    position: relative;
    border-bottom: 1px solid $red;
    overflow: hidden;
    max-width: 450px;
    display: inline-block;
    margin: 0;
  }

  & blockquote {
    background: #F6F6F6;
    padding: 50px;
    position: relative;
    margin: 20px 0;

    &:before {
      content: '';
      position: absolute;
      background: url(../img/right-quote.svg);
      width: 33px;
      height: 33px;
      background-repeat: no-repeat;
      top: 10px;
      left: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      background: url(../img/right-quote.svg);
      width: 33px;
      height: 33px;
      background-repeat: no-repeat;
      right: 30px;
      bottom: 20px;
    }
  }

  & .image-box {
    max-width: 100%;

    & img {
      width: 100%;
    }

    & p {
      text-align: center;
      color: rgba(70, 70, 70, 0.76);
    }
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  &__item {
    flex: 1 1 48%;
    margin: 10px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #DADADA;
    border-radius: 3px;
    text-decoration: none;
    overflow: hidden;

    &:hover .red-line {
      transform: translateX(-200%);
      transition: $transition;
    }

    & img {
      width: 88px;
      height: 88px;
    }
  }
}

.form-container {
  background: #F1F1F1;
  margin: 60px auto;

  & .callback {
    background: #F1F1F1;
    margin: 0 auto;
  }
}

.hotels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 500px;
  margin: 0 -10px 40px -10px;
  cursor: pointer;
  &__room {
    color: #8A8888; 
  }

  &__link:hover{
    text-decoration: none;
  }

  &__item {
    max-width: calc(33% - 20px);
    box-sizing: border-box;
    padding: 40px 45px 40px 30px;
    width: 100%;
    height: 230px;
    margin: 10px;
    order: 2;
    background: rgba(229, 229, 229, 0.6);
    border-radius: 3px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: box-shadow .9s;

    &:hover {
      box-shadow: none;
      transition: box-shadow .9s;
    }

    &.active {
      order: 1;
      position: relative;
      height: 500px;
      background: linear-gradient(0deg, rgba(253, 227, 227, 0.89), rgba(253, 227, 227, 0.89));
      box-shadow: none;

      .background {
        position: absolute;
        background: linear-gradient(0deg, rgba(253, 227, 227, 0.89), rgba(253, 227, 227, 0.89));
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .hotels__star {
        width: 21px;
        height: 21px;
        margin-right: 6px;
      }

      .hotels__desc {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .hotels__info {
        margin-top: 38px;
      }

      .hotels__link {
        color: #000;
      }
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__desc {
    font-size: 16px;
    margin-bottom: 50px;
    display: none;
  }

  .hotels__info {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    margin-top: 18px;
  }

  &__star {
    width: 16px;
    height: 16px;
    margin-right: 3px;
  }
}

.text-red {
  color: $red;
}

.sub-button {
  margin-bottom: 20px;
}

.hotels__item-slider {
  max-width: 367px;
  box-sizing: border-box;
  padding: 40px 45px 40px 30px;
  width: 100%;
  height: 230px;
  margin: 10px;
  order: 2;
  background: rgba(229, 229, 229, 0.6);
  border-radius: 3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: box-shadow .9s;
  outline: none;

  &:hover {
    box-shadow: none;
    transition: box-shadow .9s;
  }

  &.active {
    order: 1;
    position: relative;
    height: 500px;
    box-shadow: none;

    .background {
      position: absolute;
      background: linear-gradient(0deg, rgba(253, 227, 227, 0.89), rgba(253, 227, 227, 0.89));
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .hotels__star {
      width: 21px;
      height: 21px;
      margin-right: 6px;
    }

    .hotels__desc {
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .hotels__info {
      margin-top: 38px;
    }

    .hotels__link {
      color: #000;
    }

    .hotels__star {
      width: 21px;
      height: 21px;
      margin-right: 6px;
    }

    .hotels__desc {
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .hotels__info {
      margin-top: 38px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .hotels__link {
      color: #000;
    }
  }

  .hotels__star {
    width: 21px;
    height: 21px;
    margin-right: 6px;
  }

  .hotels__desc {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .hotels__info {
    margin-top: 38px;
  }

  .hotels__link {
    color: #000;
  }
}

.gallery,
.slider-portfolio,
.slider-subscribe {
  & .slick-dots li {
    width: 16px;
    height: 16px;
    border: 1px solid #A0A0A0;
    box-sizing: border-box;
    border-radius: 50%;
  }

  & .slick-next {
    width: 15px;
    height: 15px;
    border-top: 2px solid $red;
    border-right: 2px solid $red;
    transform: rotate(45deg);
    cursor: pointer;

    &:before {
      display: none;
    }
  }

  & .slick-prev {
    width: 15px;
    height: 15px;
    border-top: 2px solid $red;
    border-right: 2px solid $red;
    transform: rotate(-135deg);
    font-size: 16px;
    cursor: pointer;

    &:before {
      display: none;
    }
  }
}

.slick-subscribe {
  & li.slick-active {
    background: #fff;
  }

  & .slick-dots li {
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;

    &:before {
      display: none;
    }

  }
}

.gallery {
  margin: 0 -10px;
  position: relative;

  &__item.slick-slide {
    background-size: cover;
    background-position: center;
    opacity: .8;
    height: 365px;
    background-repeat: no-repeat !important;
    outline: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 20px;

    &:hover {
      opacity: 1;
      transition: $transition;
    }
  }
}

.gallery,
.slider-portfolio {
  padding-bottom: 30px;
}

.button-gallery,
.button-portfolio {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -30px;
  width: 100%;
  padding: 0 50px 0 25px;
  box-sizing: border-box;
}

.prev-gallery,
.prev-portfolio {
  color: $red;
  background: none;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  font-size: 16px;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid $red;
    border-right: 2px solid $red;
    transform: rotate(-135deg);
    position: absolute;
    left: -20px;
    top: 5px;
  }
}

.button-subscribe {
  position: absolute;
  top: 50%;
  left: -25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110%;

  @media screen and (max-width: 500px) {
    left: 0;
    width: 100%;
  }

  & .prev-subscribe.slick-arrow {
    width: 20px;
    height: 20px;
    border: none;
    border-top: 3px solid $white;
    border-right: 3px solid $white;
    background: none;
    transform: rotate(220deg);
    cursor: pointer;
    outline: none;
  }

  & .next-subscribe.slick-arrow {
    width: 20px;
    height: 20px;
    border: none;
    border-top: 3px solid $white;
    border-right: 3px solid $white;
    background: none;
    transform: rotate(45deg);
    cursor: pointer;
    outline: none;
  }
}

.next-gallery,
.next-portfolio {
  color: $red;
  background: none;
  border: none;
  outline: none;
  position: relative;
  font-size: 16px;
  cursor: pointer;

  &:after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid $red;
    border-right: 2px solid $red;
    transform: rotate(45deg);
    position: absolute;
    right: -20px;
    top: 5px;
  }
}

.gallery .slick-dots li.slick-active,
.slider-portfolio .slick-dots li.slick-active {
  background: $red;
  border: 1px solid $red;

  & button:before {
    display: none
  }
}

.gallery,
.slider-portfolio .slick-dots li {
  & button:before {
    display: none;
  }
}

.subscribe-right {
  position: absolute;
  top: -150px;
  right: 0;

  @media screen and(max-width: 768px) {
    position: relative;
    top: 0;
    width: 100%;
  }
}

.link-copyright:hover {
  text-decoration: none;
}

.object {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px -10px;

  &__item {
    flex: 1 1 22%;
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.contacts {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 992px) {
    justify-content: center;
  }

  &__time {
    padding: 20px 0;
    position: relative;
  }

  &__iko {
    padding: 0 0 20px 0;
  }

  &__adress {
    padding: 20px 0;
  }

  &-map {
    max-width: 520px;
    max-height: 315px;
    flex: 1 1 50%;
  }


  &-information {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    flex: 1 1 25%;

    @media screen and (max-width: 992px) {
      flex: 1 1 100%;
      max-width: 520px;
      margin: 10px 0;
    }

    &__left {
      flex: 1 1 30%;
      background: #F1F1F1;
      padding: 38px 30px;
      box-sizing: border-box;
    }

    &__right {
      flex: 1 1 15%;
      background: rgba(196, 196, 196, 1);
      padding: 38px 30px;
      box-sizing: border-box;
    }
  }
}

.slick-subscribe {
  max-width: 520px;

  @media screen and (max-width: 650px) {
    max-width: 420px;
  }

  & .slick-track {
    height: 251px;
  }

  &-item.slick-slide {
    width: 257px;
    min-height: 136px;
    height: 100%;
    margin: 10px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    outline: none;

    @media screen and (max-width: 500px) {
      background-position: center;

    }
  }
}

.flex-warpper {
  display: flex;
  color: white;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-gallery {
  bottom: 0;
  justify-content: space-around;
}

.gallery-wrapper {
  position: relative;
  max-width: 1920px;
  margin: 50px auto;
}

.body-fixed {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.history {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 50px 0;

  &-block-bottom {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      max-width: 222px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;

      &:nth-of-type(2):before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: $red;
        border-radius: 50px;
        top: -23px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      & svg {
        width: 99px;
        height: 99px;
      }
    }
  }

  &-block-top {
    display: flex;
    justify-content: space-around;
    margin: 0 100px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin: 0;
      align-items: center;
    }

    &__item {
      max-width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: $red;
        border-radius: 50px;
        bottom: -23px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      & svg {
        width: 87px;
        height: 87px;
      }
    }
  }

  &-block-center {
    margin: 15px 105px;
    background: $red;
    height: 2px;
    position: relative;

    @media screen and (max-width: 768px) {
      display: none;
    }

    &:before {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: $red;
      border-radius: 50px;
      top: -7px;
      left: -10px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 15px;
      height: 15px;
      background: $red;
      border-radius: 50px;
      top: -7px;
      right: -10px;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .hotels {
    max-height: 100%;
    flex-direction: row;

    &__item {
      height: auto;
      max-width: 46%;

      &.active {
        height: auto;
        background: rgba(229, 229, 229, 0.6);
      }
    }
  }


}

@media screen and (max-width: 650px) {
  .hotels__item {
    height: auto;
    max-width: 100%;
  }
}


.values {
  position: relative;
  margin: 50px 0;

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;
  }

  &__item {
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    min-width: 300px;
    flex: 1 1 23%;
    padding: 25px 20px;
    border-radius: 20px;
    margin: 10px 10px;

    & ul li {
      padding-bottom: 20px;
    }
  }
}

.team {
  position: relative;
  margin: 50px 0;

  &-item {
    position: relative;
    padding: 30px 0;

    &:nth-child(even) {
      background: #F8F8F8;
    }

    &__container {
      max-width: 1140px;
      width: 100%;
      margin: 0 auto;
      display: flex;
    }

    &__right {
      max-width: 688px;
      margin-left: 140px;
    }

    &__left {
      width: 257px;
      height: 239px;

      & img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
    }
  }
}

.tools {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 50px -10px;

  &__item {
    flex: 1 1 27%;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #E4E4E4;
    padding: 48px;
    border-radius: 20px;
    transition: $transition;
    text-decoration: none;

    &:hover {
      background: #F8F8F8;
      transition: $transition;
    }

    & img {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
  }
}

.call-block {
  display: flex;
  justify-content: flex-start;
  &__right {
    background:$black;
    color: $white;
    max-width: 419px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    & .call-block__callback {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: '../img/black-back.png';
    }
  }
  &__left {
    max-width: 700px;
  }
}