extends ../../template/services

block body
  main
    +banner({
      link: '../img/banner.png',
      items: [{
        addClass: 'banner-services',
      }]
    })
      +breadcrumbs
      +title({
      mods: ['banner'],
      text: 'Управление гостиничным бизнесом'
      })
      .desc За 10 лет мы накопили большой опыт в управлении бизнесом который поможет добиться успеха вашему бизнесу
      +button({
        mods: ['red'],
        text: ['Отправить заявку']
      })
    .container
      .article__wrapper
        +title({
          text: 'Аренда отелей'
        })
        p Наша компания готова арендовать ваш отель на срок от 10 лет и больше Мы рассматриваем гостиничные проекты от 100 номеров, расположенные: 
        ul
          li в крупных населенных пунктах, деловых центрах;
          li в аэропортах с пассажиропотоком от 1 млн человек в год;
          li в индустриальных и технологических парках;
          li в выставочных комплексах;
          li в иных точках притяжения, генерирующих стабильный туристический или деловой поток.
        p Казалось бы, чего проще: разместил объявление, нашел посредников или написал напрямую гостиничному оператору и жди очередь из потенциальных арендаторов. Но не всё так просто.
        h2 Если вы изначально хотите построить гостиницу
        p Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. Получив положительные прогнозы, необходимо сразу определиться с управляющей компанией и брендом. Заключив с гостиничным оператором договор технического сопровождения, вы обезопасите себя от серьезных ошибок и дополнительных инвестиций в необходимые улучшения или перестройку/переоснащение отеля. Нам часто предлагают рассмотреть уже построенный отель. И ознакомившись с проектом, нам остается только воскликнуть: «Кто ж так строит!»
        h2 Если вы изначально хотите построить гостиницу
        p Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. Получив положительные прогнозы, необходимо сразу определиться с управляющей компанией и брендом. Заключив с гостиничным оператором договор технического сопровождения, вы обезопасите себя от серьезных ошибок и дополнительных инвестиций в необходимые улучшения или перестройку/переоснащение отеля. Нам часто предлагают рассмотреть уже построенный отель. И ознакомившись с проектом, нам остается только воскликнуть: «Кто ж так строит!»
        h2 Если вы изначально хотите построить гостиницу
        p Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. Получив положительные прогнозы, необходимо сразу определиться с управляющей компанией и брендом. Заключив с гостиничным оператором договор технического сопровождения, вы обезопасите себя от серьезных ошибок и дополнительных инвестиций в необходимые улучшения или перестройку/переоснащение отеля. Нам часто предлагают рассмотреть уже построенный отель. И ознакомившись с проектом, нам остается только воскликнуть: «Кто ж так строит!»
  
    section.segment_bg-gray.segment_margin
      .container
        .call-block
          .call-block__left
            p В какой бы стадии ни находился ваш проект – строящийся отель или действующий – необходимо понимать, что:
            ul
              li гостиничный оператор может взять в аренду только полностью оснащенный и готовый к эксплуатации отель
              li не надо гнаться за максимальным гарантированным арендным платежом, правильнее договориться об аренде, как о процентах с оборота или валовой прибыли оператора;не надо гнаться за максимальным гарантированным арендным платежом, правильнее договориться об аренде, как о процентах с оборота или валовой прибыли оператора;
              li не стоит думать, что долгосрочная аренда избавляет вас от капитальных вложений в необходимую реновацию и улучшения вашей гостиничной недвижимости
          .call-block__right
            .call-block__callback
              p Мы готовы обсудить проект и условия партнерства 
              +button({
                text: 'Отправить заявку',
                mods: ['red']
              })

  .container
    +title({
      text: 'Инструменты IFK Hotel Management'
    })
    .tools
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
      a.tools__item(href="#")
        img(src="../img/database.png")
        .text База знаний IFK Insight содержит регламенты для всех отделов гостиницы.
      a.tools__item(href="#")
        img(src="../img/headhunting.png")
        .text Подбор персонала. Вакансии будут размещены на ведущих рекрутинговых ресурсах и на нашем сайте.
      a.tools__item(href="#")
        img(src="../img/laptop.png")
        .text  School.ifk-hm. Система дистанционного обучения для сотрудников из всех рангов. 
      a.tools__item(href="#")
        img(src="../img/home.png")
        .text Revenue Management. Система для мониторинга доходов.
      a.tools__item(href="#")
        img(src="../img/smartphone.png")
        .text Channel Manager. Система дистрибуции для управления продажами.
      a.tools__item(href="#")
        img(src="../img/gallery-images.png")
        .text  Images.ifk-hm. Ресурс для хранения фотоматериалов. 
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Управление репутацией. Сервис для отслеживания отзывов о гостинице. 
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text  Онлайн-продажи. Продажа номеров через наш портал до начала операционной деятельности отеля.
    +title({
      text: 'Зачем нужно управление гостиницами?',
      mods: ['page']
    })
    .text.page IFK Hotel Management более 10 лет работает в гостиничном бизнесе России. Опыт в данной сфере вообще – ХХХ лет. За это время мы накопили серьезную экспертизу в вопросах управления и знаем, как выстраивать комплексную работу и повышать эффективность объекта с учетом российской специфики. Мы не ограничиваемся составлением четкого бизнес-плана. Главное для нас – обеспечить его реализацию. Только при внедрении всех намеченных изменений и решений гостиница начнет приносить хорошую прибыль. Поскольку наше вознаграждение – % от этой прибыли, мы прямо заинтересованы в качественном результате.

  section.segment
    .container
      +title({
        text: 'Наши проекты',
        mods: ['page']
      })
      .hotels
        .hotels__item.active
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title ГК Корпоративного университета Сбербанка
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее

        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title GOLDEN TULIP ROSA KHUTOR
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее

        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title GOLDEN TULIP ROSA KHUTOR
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее

        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title GOLDEN TULIP ROSA KHUTOR
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее
        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title GOLDEN TULIP ROSA KHUTOR
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее
      +button({
          text: 'Посмотреть все проекты',
          mods: ['center']
        })
