.banner {
  max-width: 1920px;
  position: relative;
  width: 100%;
  height: 417px;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
  background: linear-gradient(0deg, white 22%, #e5e5e5 86%);
  padding-bottom: 70px;
    &-inner {
      max-width: 1140px;
      width: 100%;
      padding: 30px 15px;
      box-sizing: border-box;
      margin: 0 auto;
      }
}

.banner-opacity {
  opacity: 0.2;
}

.banner-background {
  top: -130px;
  position: absolute;
  height: 550px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  @media screen and (max-width: 992px) {
    opacity: .2; 
  }
  &.banner-services {
    opacity: .2;
  }
    &.banner-search {
      height: 100%;
      background-size: cover;
      top: 0;
    }
    &_no-opacity{
      opacity: 1;
    }
    &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
  }
}

.banner-services {
  height: 100%;
  background-size: cover;
  top: 0;
  padding-top: 30px;
  box-sizing: border-box;
}

@media screen and (max-width: 992px){
  .banner-background_no-opacity {
    opacity: 0.2;
  }
}