mixin banner(data)
  each item in data.items
    .banner(class=addClass('banner', item.bannerMods, item.bannerClass))
      .container
      each item in data.items
        .banner-background(class=addClass('banner-background', item.mods, item.addClass), style='background-image: url('+ data.link +')')

        .container
          .banner-content(class=addClass('banner-background', item.mods, item.addClass))
            if block
              block
            else