.banner {
  max-width: 1920px;
  position: relative;
  width: 100%;
  height: 417px;
  margin: 0 auto;
    &-inner {
      max-width: 1140px;
      width: 100%;
      padding: 30px 15px;
      box-sizing: border-box;
      margin: 0 auto;
    }
}

.banner-background {
  top: -130px;
  position: absolute;
  height: 550px;
  width: 100%;
  opacity: .2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1;
    &_no-opacity{
      opacity: 1;
    }
    &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%),
  }
}

@media screen and (max-width: 992px){
  .banner-background_no-opacity {
    opacity: 0.2;
  }
}