extends ../../template/services

block body
  main
    +banner({
        link: '../img/banner-4.png',
        items: [{
          addClass: 'banner-services',
          bannerClass: ''
        }]
      })
        +breadcrumbs
        +title({
        mods: ['banner'],
        text: 'Франшиза для отеля или гостиницы'
        })
        .desc За 10 лет мы накопили большой опыт в управлении бизнесом который поможет добиться успеха вашему бизнесу
        +button({
          mods: ['red'],
          text: ['Отправить заявку']
        })
    .container
      .we-doing
        .we-doing-items
          .we-doing__item.item_gray
              a(href="#") 
                .we-doing__number
                +title({
                  mods: ['item'],
                  text: 'Контроль проектов'
              })
              span.gray-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
              a(href="#")
                .we-doing__number
                +title({
                  mods: ['item'],
                  text: 'Контроль проектов'
              })
              span.gray-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
              a(href="#")
                .we-doing__number
                +title({
                  mods: ['item'],
                  text: 'Контроль проектов'
                })
                span.gray-line
                .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
              a(href="#")
                .we-doing__number
                +title({
                  mods: ['item'],
                  text: 'Контроль проектов'
                })
                span.gray-line
                .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
    .container
      .article__wrapper
        p Наша компания готова арендовать ваш отель на срок от 10 лет и больше Мы рассматриваем гостиничные проекты от 100 номеров, расположенные: 
        ul
          li в крупных населенных пунктах, деловых центрах;
          li в аэропортах с пассажиропотоком от 1 млн человек в год;
          li в индустриальных и технологических парках;
          li в выставочных комплексах;
          li в иных точках притяжения, генерирующих стабильный туристический или деловой поток.
        p Казалось бы, чего проще: разместил объявление, нашел посредников или написал напрямую гостиничному оператору и жди очередь из потенциальных арендаторов. Но не всё так просто.
        blockquote Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. 
        h2 Если вы изначально хотите построить гостиницу
        p Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. Получив положительные прогнозы, необходимо сразу определиться с управляющей компанией и брендом. Заключив с гостиничным оператором договор технического сопровождения, вы обезопасите себя от серьезных ошибок и дополнительных инвестиций в необходимые улучшения или перестройку/переоснащение отеля. Нам часто предлагают рассмотреть уже построенный отель. И ознакомившись с проектом, нам остается только воскликнуть: «Кто ж так строит!»
        h2 Если вы изначально хотите построить гостиницу
        p Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. Получив положительные прогнозы, необходимо сразу определиться с управляющей компанией и брендом. Заключив с гостиничным оператором договор технического сопровождения, вы обезопасите себя от серьезных ошибок и дополнительных инвестиций в необходимые улучшения или перестройку/переоснащение отеля. Нам часто предлагают рассмотреть уже построенный отель. И ознакомившись с проектом, нам остается только воскликнуть: «Кто ж так строит!»
        h2 Если вы изначально хотите построить гостиницу
        p Чтобы сдать ее в аренду, то это не избавляет вас от тех шагов, которые должен пройти любой инвестор в гостиничный проект. Анализ целесообразности, маркетинговые исследования, прогнозные инвестиционные бюджеты и расчет прибылей и убытков. Получив положительные прогнозы, необходимо сразу определиться с управляющей компанией и брендом. Заключив с гостиничным оператором договор технического сопровождения, вы обезопасите себя от серьезных ошибок и дополнительных инвестиций в необходимые улучшения или перестройку/переоснащение отеля. Нам часто предлагают рассмотреть уже построенный отель. И ознакомившись с проектом, нам остается только воскликнуть: «Кто ж так строит!»
    .container
      +title({
        text: 'Инструменты IFK Hotel Management'
      })
      .tools
        a.tools__item(href="#")
          img(src="../img/hotel.png")
          .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        a.tools__item(href="#")
          img(src="../img/hotel.png")
          .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        a.tools__item(href="#")
          img(src="../img/hotel.png")
          .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        a.tools__item(href="#")
          img(src="../img/hotel.png")
          .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        a.tools__item(href="#")
          img(src="../img/hotel.png")
          .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        a.tools__item(href="#")
          img(src="../img/hotel.png")
          .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        a.tools__item(href="#")
          img(src="../img/hotel.png")
          .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        a.tools__item(href="#")
          img(src="../img/hotel.png")
          .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        a.tools__item(href="#")
          img(src="../img/hotel.png")
          .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        +title({
          text: 'Зачем нужно управление гостиницами?'
        })
        .text IFK Hotel Management более 10 лет работает в гостиничном бизнесе России. Опыт в данной сфере вообще – ХХХ лет. За это время мы накопили серьезную экспертизу в вопросах управления и знаем, как выстраивать комплексную работу и повышать эффективность объекта с учетом российской специфики. Мы не ограничиваемся составлением четкого бизнес-плана. Главное для нас – обеспечить его реализацию. Только при внедрении всех намеченных изменений и решений гостиница начнет приносить хорошую прибыль. Поскольку наше вознаграждение – % от этой прибыли, мы прямо заинтересованы в качественном результате.

  .container
    .hotels
      .hotels__item.active
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title ГК Корпоративного университета Сбербанка
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 2
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 3
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 4
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 5
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее
