extends ../../template/main-page

block body
  main
    .blog-banner
      .container
        +breadcrumbs
        +title({
              text: 'Контакты',
              mods: ['page','center']
            })
      section.segment
        .container
          .contacts
            .contacts-map
              iframe(src="https://yandex.ru/map-widget/v1/-/CGvpjFl1" width="100%" height="100%" frameborder="0" allowfullscreen="true")
            .contacts-information
              .contacts-information__left 
                a.contacts__phone(href="tel:+74957877001") +74957877001
                .contacts__time пн-пт 09:00 - 18:00, обед 12:00 - 13:00
                .contacts__adress УЛ. ВАВИЛОВА, Д. 7 МОСКВА, 117312, РОССИЯ
                a.contacts__mail(href="mailto:info@ifk-hm.ru") info@ifk-hm.ru
              .contacts-information__right
                .contacts__iko ИНН: 5035026746
                .contacts__iko КПП: 503501001
                .contacts__iko ОГРН 1155035000185
  .callback-form
      .container
        +callback({
          title: 'Отправить заявку',
          policy: 'Нажимая на кнопку “Отправить” вы соглашаетесь на обработку персональных данных',
          wraps: [{
            mods: ['small'],
            inputs: [{
              placeholder: 'Ваше имя',
              tag: 'input',
              type: 'text'
            },{
              placeholder: 'Ваш e-mail',
              tag: 'input',
              type: 'email'
            },{
              placeholder: 'Ваш телефон',
              tag: 'input',
              type: 'tel'
            }]
          },{
            inputs: [{
              placeholder: '123',
              tag: 'select',
              selects: [{
                text: 'Номер 1',
              },{
                text: 'Номер 1',
              },{
                text: 'Номер 1',
              },{
                text: 'Номер 1',
              }]         
            },{
              mods: ['big'],
              placeholder: 'Опишите ваши пожелания',
              tag: 'textarea'
            }]
          }]
        })

  +subscribe({
        background: '../img/subscribe.png',
        items: [{
          mods: ['wrapper']
        }]
      })
        +title({
        mods: ['subscribe'],
        text: 'Подписывайтесь на новости',
        addClass: 'text-white'
        })
        +input({
          items: [{
            mods: ['subscribe'],
            placeholder: 'Ваше имя',
        },
        {
          placeholder: 'Ваш e-mail',
        }]
      })
        +button({
            mods: ['red'],
            text: ['Все отзывы']
          })
    
