extends ../../template/main-page-new

block body
  main
    +banner({
      link: '../img/background-main.png',
      items: [{
        bannerMods: ['no-opacity', 'flex'],
      }]
    })
      +title({
      mods: ['banner'],
      text: '<p>IFK Hotel Management – управляющая компания <span class="text-red">для гостиниц</span></p>'
      })
      .desc За 10 лет мы накопили большой опыт в управлении бизнесом который поможет добиться успеха вашему бизнесу
      +button({
        mods: ['red'],
        text: ['Отправить заявку']
      })
      img(src="../img/small-block.png", alt="" class="block-left-main")
      img(src="../img/small-block.png", alt="" class="block-right-main")
    .container
      .we-doing
        +title({
          text: 'Что мы делаем?',
          mods: ['page']
        })
        .we-doing-items
          img(src="../img/medium-block.png", alt="" class="block-left")
          .we-doing__item.item_gray
            a(href="#") 
            .we-doing__number
            +title({
              mods: ['item'],
              text: 'Контроль проектов'
            })
            span.red-line.red-line_width
            .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
            a(href="#")
            .we-doing__number
            +title({
              mods: ['item'],
              text: 'Контроль проектов'
            })
            span.red-line.red-line_width
            .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line.red-line_width
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line.red-line_width
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
  .callback-form
      .container
        +callback({
          title: 'Как мы это делаем?',
          policy: 'Нажимая на кнопку “Отправить” вы соглашаетесь на обработку персональных данных',
          wraps: [{
            mods: ['big'],
            inputs: [{
                mods: ['big'],
                placeholder: 'Опишите ваши пожелания',
                tag: 'textarea'
              }]
            },
            { mods: ['small'],
               inputs: [{
                placeholder: 'Ваш e-mail',
                tag: 'input',
                type: 'email'
              },{
                placeholder: 'Ваш телефон',
                tag: 'input',
                type: 'tel'
              }]
          }]
        })
  section.segment
    .container
      +title({
        text: 'Наши проекты',
        mods: ['page']
      })
      .hotels
        img(src="../img/medium-block.png", alt="" class="block-left")
        .hotels__item.active
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title ГК Корпоративного университета Сбербанка
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее

        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title GOLDEN TULIP ROSA KHUTOR
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее

        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title GOLDEN TULIP ROSA KHUTOR
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее

        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title GOLDEN TULIP ROSA KHUTOR
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее
        .hotels__item
          .background(style=('background-image: url(../img/banner_hotels.png)'))
          .hotels__title GOLDEN TULIP ROSA KHUTOR
          .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета
          .hotels__stars
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
            +icon({
              addClass: 'hotels__star',
              icon: 'star'
            })
          .hotels__info
            .hotels__room 148 номеров
            a(href='#').hotels__link Подбробнее
      +button({
          text: 'Посмотреть все проекты',
          mods: ['center']
        })

  +subscribe({
      background: '../img/subscribe.png',
      items: [{
        mods: ['wrapper', 'slider']
      }]
    })
      .flex-warpper
        .subscribe-left
          +title({
          mods: ['subscribe'],
          text: 'Нас рекомендуют',
          addClass: 'text-white'
          })
          +button({
              mods: ['red','no-display'],
              addClass: 'sub-button',
              text: ['Все отзывы']
            })
        .subscribe-right
          .slick-subscribe
            a.slick-subscribe-item(data-fancybox="gallery-subscribe" style="background-image:url(../img/reviews.png)" href="../img/reviews.png")
            a.slick-subscribe-item(data-fancybox="gallery-subscribe" style="background-image:url(../img/reviews.png)" href="../img/reviews.png")
            a.slick-subscribe-item(data-fancybox="gallery-subscribe" style="background-image:url(../img/reviews.png)" href="../img/reviews.png")
            a.slick-subscribe-item(data-fancybox="gallery-subscribe" style="background-image:url(../img/reviews.png)" href="../img/reviews.png")
          .button-subscribe
            button(type="button" class="prev-subscribe")
            button(type="button" class="next-subscribe")
  
  //- .container
  //-   +title({
  //-     text: 'Наши проекты'
  //-   })
  //-   .slider-portfolio
  //-     .hotels__item-slider.active
  //-       .background(style=('background-image: url(../img/banner_hotels.png)'))
  //-       .hotels__title ГК Корпоративного университета Сбербанка
  //-       .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
  //-       .hotels__stars
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-       .hotels__info
  //-         .hotels__room 148 номеров
  //-         a(href='#').hotels__link Подбробнее
  //-     .hotels__item-slider.active
  //-       .background(style=('background-image: url(../img/banner_hotels.png)'))
  //-       .hotels__title ГК Корпоративного университета Сбербанка
  //-       .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
  //-       .hotels__stars
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-       .hotels__info
  //-         .hotels__room 148 номеров
  //-         a(href='#').hotels__link Подбробнее
  //-     .hotels__item-slider.active
  //-       .background(style=('background-image: url(../img/banner_hotels.png)'))
  //-       .hotels__title ГК Корпоративного университета Сбербанка
  //-       .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
  //-       .hotels__stars
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-       .hotels__info
  //-         .hotels__room 148 номеров
  //-         a(href='#').hotels__link Подбробнее
  //-     .hotels__item-slider.active
  //-       .background(style=('background-image: url(../img/banner_hotels.png)'))
  //-       .hotels__title ГК Корпоративного университета Сбербанка
  //-       .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
  //-       .hotels__stars
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-         +icon({
  //-           addClass: 'hotels__star',
  //-           icon: 'star'
  //-         })
  //-       .hotels__info
  //-         .hotels__room 148 номеров
  //-         a(href='#').hotels__link Подбробнее
  //-   .button-portfolio
  //-     button(type="button" class="prev-portfolio") Назад
  //-     button(type="button" class="next-portfolio") Вперед
  //- .gallery-wrapper
  //-   .gallery
  //-     a.gallery__item(data-fancybox="gallery" style="background:url(../img/gallery.png)" href="../img/gallery.png")
  //-     a.gallery__item(data-fancybox="gallery" style="background:url(../img/gallery.png)" href="../img/gallery.png")
  //-     a.gallery__item(data-fancybox="gallery" style="background:url(../img/gallery.png)" href="../img/gallery.png")
  //-     a.gallery__item(data-fancybox="gallery" style="background:url(../img/gallery.png)" href="../img/gallery.png")
  //-   .button-gallery
  //-     button(type="button" class="prev-gallery")
  //-     button(type="button" class="next-gallery")

  //- .container
  //-   +title({
  //-     text: 'Инструменты IFK Hotel Management'
  //-   })
  //-   .tools
  //-     a.tools__item(href="#")
  //-       img(src="../img/hotel.png")
  //-       .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
  //-     a.tools__item(href="#")
  //-       img(src="../img/hotel.png")
  //-       .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
  //-     a.tools__item(href="#")
  //-       img(src="../img/hotel.png")
  //-       .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
  //-     a.tools__item(href="#")
  //-       img(src="../img/hotel.png")
  //-       .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
  //-     a.tools__item(href="#")
  //-       img(src="../img/hotel.png")
  //-       .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
  //-     a.tools__item(href="#")
  //-       img(src="../img/hotel.png")
  //-       .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
  //-     a.tools__item(href="#")
  //-       img(src="../img/hotel.png")
  //-       .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
  //-     a.tools__item(href="#")
  //-       img(src="../img/hotel.png")
  //-       .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
  //-     a.tools__item(href="#")
  //-       img(src="../img/hotel.png")
  //-       .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        