extends ../../template/services

block body
  main
    +banner({
      link: '../img/background-main.png',
      items: [{
        mods: ['no-opacity', 'flex'],
      }]
    })
      +title({
      mods: ['banner'],
      text: 'Управление гостиничным бизнесом'
      })
      .desc За 10 лет мы накопили большой опыт в управлении бизнесом который поможет добиться успеха вашему бизнесу
      +button({
        mods: ['red'],
        text: ['Отправить заявку']
      })
    .container
      .we-doing
        +title({
          text: 'Что мы делаем?'
        })
        .we-doing-items
          .we-doing__item.item_gray
            a(href="#") 
            .we-doing__number
            +title({
              mods: ['item'],
              text: 'Контроль проектов'
            })
            span.red-line
            .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
            a(href="#")
            .we-doing__number
            +title({
              mods: ['item'],
              text: 'Контроль проектов'
            })
            span.red-line
            .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
  .container
    .hotels
      .hotels__item.active
        .hotels__title ХУЙ 1
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .hotels__title ХУЙ 2
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .hotels__title ХУЙ 3
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .hotels__title ХУЙ 4
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .hotels__title ХУЙ 5
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета   и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.Кампус спроектирован в контексте философии Корпоративного университета   и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.Кампус спроектирован в контексте философии Корпоративного университета   и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее
