extends ../../template/services

block body
  main
    +banner({
      link: '../img/background-main.png',
      items: [{
        mods: ['no-opacity', 'flex'],
      }]
    })
      +title({
      mods: ['banner'],
      text: '<p>IFK Hotel Management – управляющая компания <span class="text-red">для гостиниц</span></p>'
      })
      .desc За 10 лет мы накопили большой опыт в управлении бизнесом который поможет добиться успеха вашему бизнесу
      +button({
        mods: ['red'],
        text: ['Отправить заявку']
      })
    .container
      .we-doing
        +title({
          text: 'Что мы делаем?'
        })
        .we-doing-items
          .we-doing__item.item_gray
            a(href="#") 
            .we-doing__number
            +title({
              mods: ['item'],
              text: 'Контроль проектов'
            })
            span.red-line
            .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
            a(href="#")
            .we-doing__number
            +title({
              mods: ['item'],
              text: 'Контроль проектов'
            })
            span.red-line
            .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
          .we-doing__item.item_gray
            a(href="#")
              .we-doing__number
              +title({
                mods: ['item'],
                text: 'Контроль проектов'
              })
              span.red-line
              .text Возьмём вашу гостиницу в управление на любой стадии её существования: действующую, строящуюся, проектируемую или даже только планируемую.
  .container
    .hotels
      .hotels__item.active
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title ГК Корпоративного университета Сбербанка
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 2
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 3
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 4
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

      .hotels__item
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title Блок 5
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее

  +subscribe({
      background: '../img/subscribe.png',
      items: [{
        mods: ['wrapper', 'slider']
      }]
    })
      .flex-warpper
        .subscribe-left
          +title({
          mods: ['subscribe'],
          text: 'Нас рекомендуют',
          addClass: 'text-white'
          })
          +button({
              mods: ['red'],
              addClass: 'sub-button',
              text: ['Все отзывы']
            })
        .subscribe-right
          .slick-subscribe
            a.slick-subscribe-item(data-fancybox="gallery-subscribe" style="background-image:url(../img/reviews.png)" href="../img/reviews.png")
            a.slick-subscribe-item(data-fancybox="gallery-subscribe" style="background-image:url(../img/reviews.png)" href="../img/reviews.png")
            a.slick-subscribe-item(data-fancybox="gallery-subscribe" style="background-image:url(../img/reviews.png)" href="../img/reviews.png")
            a.slick-subscribe-item(data-fancybox="gallery-subscribe" style="background-image:url(../img/reviews.png)" href="../img/reviews.png")

  .container
    .slider-portfolio
      .hotels__item-slider.active
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title ГК Корпоративного университета Сбербанка
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее
      .hotels__item-slider.active
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title ГК Корпоративного университета Сбербанка
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее
      .hotels__item-slider.active
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title ГК Корпоративного университета Сбербанка
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее
      .hotels__item-slider.active
        .background(style=('background-image: url(../img/banner_hotels.png)'))
        .hotels__title ГК Корпоративного университета Сбербанка
        .hotels__desc Кампус спроектирован в контексте философии Корпоративного университета и с учётом решаемых задач. Инновационная образовательная среда, включающая разнообразные возможности.
        .hotels__stars
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
          +icon({
            addClass: 'hotels__star',
            icon: 'star'
          })
        .hotels__info
          .hotels__room 148 номеров
          a(href='#').hotels__link Подбробнее
    .button-portfolio
      button(type="button" class="prev-portfolio") Назад
      button(type="button" class="next-portfolio") Вперед
  .gallery-wrapper
    .gallery
      a.gallery__item(data-fancybox="gallery" style="background:url(../img/gallery.png)" href="../img/gallery.png")
      a.gallery__item(data-fancybox="gallery" style="background:url(../img/gallery.png)" href="../img/gallery.png")
      a.gallery__item(data-fancybox="gallery" style="background:url(../img/gallery.png)" href="../img/gallery.png")
      a.gallery__item(data-fancybox="gallery" style="background:url(../img/gallery.png)" href="../img/gallery.png")
    .button-gallery
      button(type="button" class="prev-gallery")
      button(type="button" class="next-gallery")

  .container
    +title({
      text: 'Инструменты IFK Hotel Management'
    })
    .tools
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
      a.tools__item(href="#")
        img(src="../img/hotel.png")
        .text Система онлайн-отчетности IFK Reports для ведения финансов. Владелец отеля получает постоянный доступ к системе.
        