<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.css")
    title ifk-hm
  body.default-font
  
block includes
  include ../../blocks/logo/logo
  include ../../blocks/button/button
  include ../../blocks/nav/nav
  include ../../blocks/banner/banner
  include ../../blocks/breadcrumbs/breadcrumbs
  include ../../blocks/title/title
  include ../../blocks/subscribe/subscribe
  include ../../blocks/input/input
  include ../../blocks/container/container
block body
  block header
  header.header
    .header__inner
      .header__left
        +logo({
        link_image: '../img/logo.png'
        })

      .header-center
        +nav({
          items: [{
            text: 'Услуги',
            link: '#',
              subs: [{
                text: 'Управление гостиницами',
                link: '#',
              },
              {
                text: 'Техническое сопровождение',
                link: '#',
              },
              {
                text: 'Гостиничный франчайзинг',
                link: '#',
              },
              {
                text: 'Предпроектное консультирование',
                link: '#',
              }],
            },
            {
            text: 'Портфолио',
            link: '#',
              subs: [{
                text: 'Управление гостиницами',
                link: '#',
              },
              {
                text: 'Техническое сопровождение',
                link: '#',
              },
              {
                text: 'Гостиничный франчайзинг',
                link: '#',
              },
              {
                text: 'Предпроектное консультирование',
                link: '#',
              }],
            },
            {
              text: 'О компании',
              link: '#',
            },
            {
              text: 'Контакты',
              link: '#',
            },
            {
              text: 'Блог',
              link: '#',
          }]
        })

      .header-right
        a(href="tel:74957877001").header-phone + 7 (495) 787-70-01
        +button({
        mods: ['header'],
        text: 'Заказать звонок',
        })
        .header-swap-lang
  +banner 
      +title({
        text: 'Блог'
      })
  .container
    form.search
      input.input-search
      +button({
          mods: ['search', 'red']
        })
    .articles
      .articles-wrapper
        a(href="#").articles__item
          .articles__image(style="background-image:url(../img/article.png)")
          .articles__content-wrapper
            .articles__data 13.06.2019
            +title({
              text: 'Статья в одну строку',
              mods: ['articles']
            })
            .articles-text Обговариваете удобное для вас время и дни вывоза. В установленные сроки наши специалисты приезжают...
        a(href="#").articles__item
          .articles__image(style="background-image:url(../img/article.png)")
          .articles__content-wrapper
            .articles__data 13.06.2019
            +title({
              text: 'Статья в одну строку',
              mods: ['articles']
            })
            .articles-text Обговариваете удобное для вас время и дни вывоза. В установленные сроки наши специалисты приезжают...
        a(href="#").articles__item
          .articles__image(style="background-image:url(../img/article.png)")
          .articles__content-wrapper
            .articles__data 13.06.2019
            +title({
              text: 'Статья в одну строку',
              mods: ['articles']
            })
            .articles-text Обговариваете удобное для вас время и дни вывоза. В установленные сроки наши специалисты приезжают...
        a(href="#").articles__item
          .articles__image(style="background-image:url(../img/article.png)")
          .articles__content-wrapper
            .articles__data 13.06.2019
            +title({
              text: 'Статья в одну строку',
              mods: ['articles']
            })
            .articles-text Обговариваете удобное для вас время и дни вывоза. В установленные сроки наши специалисты приезжают...
        a(href="#").articles__item
          .articles__image(style="background-image:url(../img/article.png)")
          .articles__content-wrapper
            .articles__data 13.06.2019
            +title({
              text: 'Статья которая длинее чем в одну строку',
              mods: ['articles']
            })
            .articles-text Обговариваете удобное для вас время и дни вывоза. В установленные сроки наши специалисты приезжают...
  +subscribe({
      background: '../img/subscribe.png',
      items: [{
        mods: ['wrapper']
      }]
    })
      +title({
      mods: ['subscribe'],
      text: 'Подписывайтесь на новости',
      addClass: 'text-white'
      })
      +input({
        items: [{
          mods: ['subscribe'],
          placeholder: 'Ваше имя',
      },
      {
        placeholder: 'Ваш e-mail',
      }]
    })
      +button({
          mods: ['red'],
          text: ['Все отзывы']
        })
block footer
  footer.footer
    .container.footer-wrapper
      .footer-left
        +logo({
          link_image: '../img/logo.png'
          })

      .footer-center
        +nav({
            items: [{
                text: 'Услуги',
                link: '#',
            },
            {
                text: 'Портфолио',
                link: '#',
            },
            {
                text: 'О компании',
                link: '#',
            },
            {
                text: 'Контакты',
                link: '#',
            },
            {
                text: 'Блог',
                link: '#',
            }]
          })
      .footer-right
        

  div(style='display: none;')
    include ../../../dist/img/icons/icons.svg
  script(src="../js/bundle.js")