<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
    link(rel="stylesheet", href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
    link(rel="stylesheet", href="../css/jquery.fancybox.min.css")
    title ifk-hm
  body.default-font
  
block includes
  include ../../blocks/logo/logo
  include ../../blocks/button/button
  include ../../blocks/nav/nav
  include ../../blocks/banner/banner
  include ../../blocks/breadcrumbs/breadcrumbs
  include ../../blocks/title/title
  include ../../blocks/subscribe/subscribe
  include ../../blocks/input/input
  include ../../blocks/container/container
  include ../../blocks/icon/icon

block header
  header.header
    .header__inner
      .header__left
        +logo({
        link_image: '../img/logo.png'
        })

      .header-center
        +nav({
          items: [{
            text: 'Услуги',
            link: '#',
              subs: [{
                text: 'Управление гостиницами',
                link: '#',
              },
              {
                text: 'Техническое сопровождение',
                link: '#',
              },
              {
                text: 'Гостиничный франчайзинг',
                link: '#',
              },
              {
                text: 'Предпроектное консультирование',
                link: '#',
              }],
            },
            {
            text: 'Портфолио',
            link: '#',
              subs: [{
                text: 'Управление гостиницами',
                link: '#',
              },
              {
                text: 'Техническое сопровождение',
                link: '#',
              },
              {
                text: 'Гостиничный франчайзинг',
                link: '#',
              },
              {
                text: 'Предпроектное консультирование',
                link: '#',
              }],
            },
            {
              text: 'О компании',
              link: '#',
            },
            {
              text: 'Контакты',
              link: '#',
            },
            {
              text: 'Блог',
              link: '#',
          }]
        })

      .header-right
        a(href="tel:74957877001").header-phone + 7 (495) 787-70-01
        +button({
        mods: ['header'],
        text: 'Заказать звонок',
        })
        .header-swap-lang
          +icon({
            icon: 'globus'
          })
block body
  main
    .blog-banner
      .container
        +breadcrumbs
        +title({
              text: 'Блог',
              addClass: 'title__blog',
            })
    .container
      form.search
        +input({
          items: [{
            mods: ['search'],
            placeholder: 'Поиск по блогу',
            addClass: 'input-search'
        }]
        })
        +button({
            mods: ['search', 'red'],
            addClass: 'search-button'
          })
      .articles
        .articles-wrapper
          a(href="#").articles__item
            .articles__image(style="background-image:url(../img/article.png)")
            .articles__content-wrapper
              .articles__data 13.06.2019
              +title({
                text: 'Статья в одну строку',
                mods: ['articles']
              })
              .articles-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis velit voluptate hic, recusandae perspiciatis a asperiores eaque. Nostrum, dolorem sed?
          a(href="#").articles__item
            .articles__image(style="background-image:url(../img/article.png)")
            .articles__content-wrapper
              .articles__data 13.06.2019
              +title({
                text: 'Статья в одну строку',
                mods: ['articles']
              })
              .articles-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis velit voluptate hic, recusandae perspiciatis a asperiores eaque. Nostrum, dolorem sed?
          a(href="#").articles__item
            .articles__image(style="background-image:url(../img/article.png)")
            .articles__content-wrapper
              .articles__data 13.06.2019
              +title({
                text: 'Статья в одну строку',
                mods: ['articles']
              })
              .articles-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis velit voluptate hic, recusandae perspiciatis a asperiores eaque. Nostrum, dolorem sed?
          a(href="#").articles__item
            .articles__image(style="background-image:url(../img/article.png)")
            .articles__content-wrapper
              .articles__data 13.06.2019
              +title({
                text: 'Статья в одну строку',
                mods: ['articles']
              })
              .articles-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis velit voluptate hic, recusandae perspiciatis a asperiores eaque. Nostrum, dolorem sed?
          a(href="#").articles__item
            .articles__image(style="background-image:url(../img/article.png)")
            .articles__content-wrapper
              .articles__data 13.06.2019
              +title({
                text: 'Статья которая длинее чем в одну строку',
                mods: ['articles']
              })
              .articles-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis velit voluptate hic, recusandae perspiciatis a asperiores eaque. Nostrum, dolorem sed?
    +subscribe({
        background: '../img/subscribe.png',
        items: [{
          mods: ['wrapper']
        }]
      })
        +title({
        mods: ['subscribe'],
        text: 'Подписывайтесь на новости',
        addClass: 'text-white'
        })
        +input({
          items: [{
            mods: ['subscribe'],
            placeholder: 'Ваше имя',
        },
        {
          placeholder: 'Ваш e-mail',
        }]
      })
        +button({
            mods: ['red'],
            text: ['Все отзывы']
          })
block footer
  footer.footer
    .container
      .button-top(style="display: none;")
      .footer-wrapper
        .footer-left
          +logo({
            link_image: '../img/logo.png'
            })

        .footer-center
          +nav({
              items: [{
                  text: 'Услуги',
                  link: '#',
              },
              {
                  text: 'Портфолио',
                  link: '#',
              },
              {
                  text: 'О компании',
                  link: '#',
              },
              {
                  text: 'Контакты',
                  link: '#',
              },
              {
                  text: 'Блог',
                  link: '#',
              }]
            })
        .footer-right
          .social
            +icon({
              link: '#',
              addClass: 'soc-link',
              icon: 'vk',
            })
            +icon({
              link: '#',
              addClass: 'soc-link',
              icon: 'fb',
            })
            +icon({
              link: '#',
              addClass: 'soc-link',
              icon: 'ok',
            })
            +icon({
              link: '#',
              addClass: 'soc-link',
              icon: 'inst',
            })
      .footer-copyright-wrapper
       .footer-copyright
          .footer-copyright__item © IFK Hotel Management 2008-2018. All Rights Reserved.
          .footer-copyright-link
            a.link-copyright(href='#') Политика конфиденциальности
            a.link-copyright(href='#') Обработка персональных данных
        

  div(style='display: none;')
    include ../../../dist/img/icons/icons.svg
  script(src="../js/bundle.js")